@font-face {
    font-family: "FontinSmallCaps";
    font-weight: normal;
    font-style: normal;
    src: local("☺"), url('/bingo/font/fontin-smallcaps-webfont.woff') format("woff")
}


html {
    box-sizing: border-box;
    font-size: 2em/1.5;
    -webkit-font-smoothing: antialiased;
}

main {
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background: rgba(34, 42, 51, 1);
    color: white;
    padding: 0px;
    margin: 0px;
}

main {
    max-width: 50rem;
    padding: 2rem;
    margin: auto;
}

main {
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a:link {
    color: #000000
}

a:visited {
    color: #000000
}

#card {
    width: 100%;
}

#card th {
    width: 20%;
}

table {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

td {
    background-origin: padding-box, padding-box, padding-box;
    background-position-x: 0%, 100%, 0%;
    background-position-y: 0%, 0%, 0%;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: 100% contain, 100% contain, 100% contain;
    background-color: black;
    font-family: FontinSmallCaps, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14.3px;
    font-weight: 400;
    padding-left: 6.08519px;
    padding-right: 6.08519px;
}

td.toggled {
    background-image: url(/bingo/assets/header-rare-left.png), url(/bingo/assets/header-rare-right.png), url(/bingo/assets/header-rare-middle.png);
    color: rgb(136, 136, 255);
}

td.untoggled {
    background-image: url(/bingo/assets/header-normal-left.png), url(/bingo/assets/header-normal-right.png), url(/bingo/assets/header-normal-middle.png);
    color: white;
}

#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

#card td {
    padding: 0.25rem;
    text-align: center;
    font-size: 1rem;
    height: 8em;
    width: 20%;
    font-weight: 600;
    /*  cursor: cell;*/
    cursor: default;
}

#card td p {
    vertical-align: middle;
}

.shaper {
    background: gray url(/bingo/assets/shaper.png) repeat 0 0;
    -webkit-animation: slide 200s linear infinite;
}

@-webkit-keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -512px -512px;
    }
}

.shade {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to right, rgba(34, 42, 51, 1) 5%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(34, 42, 51, 1) 95%)
}